
.title {
  text-align: center;
  margin-bottom: 2rem;
}
/* Общие стили для страницы */

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Стили для формы */

.form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.form__label {
  display: block;
  margin-bottom: 1px;
}

.input-wrapper {
  margin-bottom: 10px;
  
}

/* Стили для команды */

.command-wrapper {
  background-color: #5e5e5e;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

.command {
  font-family: monospace;
  color: rgb(255, 255, 255);
}

/* Стили для подсказки */

.tip {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Стили для кнопки */

.btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn:hover {
  background-color: #0069d9;
  cursor: pointer;
}


