{% extends "base.html" %} 

{% block side_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" type="text/css"/>
<a class="btn btn-success" href="/import_jump">Импорт</a>
<h1>Jump tracker</h1>
<div class="table">
    {%for table in tables%}
    <div class="table-row">
      <div class="table-cell">
        <h2>{{table.name}}</h2>
        <table>
          <tbody>
            <tr>
              <td>Total Jumps:</td>
              <td>{{table.count}}</td>
            </tr>
            <tr>
              <td>Guarantee 5*:</td>
              <td>{{table.garant_5}}</td>
            </tr>
            <tr>
              <td>Guarantee 4*:</td>
              <td>{{table.garant_4}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {%endfor%}
    
  </div>
  <a class="btn btn-success" onclick="clearJumps()">Очистить</a>
{% endblock %}
